#root{
  height: calc(100vh - 70px);
}

.navbar{
  font-family: $fontstyle;
  .nav-item{
    margin-left: 10px;
    a{
      color: white;
      font-size: medium;
      text-decoration: none;
      transition: 0.6s ease-in-out;
      &:hover{
        color: red;
      }
    }
  }
}